body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f4c3;
    margin: 20px;
    color: #0d47a1;
}
h1{
    color: #0d47a1;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
form{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0,0,0.1);
    max-width: 600px;
    margin: 20px auto;
}
fieldset{
    border: 2px solid #b39ddb;
    padding: 10px;
    margin-bottom: 20px;

}
legend{
    font-weight: bold;
    color: #0d47a1;  
}
label{
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #0d47a1;

}
input,textarea,select{
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #c5cae9;
    border-radius: 4px;
    background-color: #e8eaf6;
}
.inline-label{
    display: inline;
    margin-left: 5px;
}
button{
    background-color: #81c784;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #054108;
}